{% extends 'forum/base.html' %}

{% block content %}


<div style='display: flex; flex-wrap:wrap; justify-content: center; align-items: center; max-width: 100vw'>
    <!-- 인기 태그 -->
    <div class='rank_column'>
        가장 많이 누른 <span class='border rounded-pill' style='color: midnightblue; padding-left: 10px; padding-right: 10px;'>태그</span>
        <ol>
            {% for tag in best_hit_tags %}
                <li>{{ tag.tag }} ({{ tag.hit_count}}회)</li>
            {% endfor %}
        </ol>
    </div>
    <div class='rank_column'>
        가장 많이 검색한 <span style='background-color: midnightblue; color: white; border-radius: 3px; padding-left: 10px; padding-right:10px'>태그</span>
        <ol>
            {% for tag in best_search_tags %}
                <li>{{ tag.tag }} ({{ tag.hit_count}}회)</li>
            {% endfor %}
        </ol>
    </div>
    <div class='rank_column'>
        가장 자주 등록된 <span class='border rounded-pill' style='color: midnightblue; padding-left: 10px; padding-right: 10px;'>태그</span>
        <ol>
            {% for tag in frequently_registered_tags %}
                <li>{{ tag.tag }} ({{ tag.register_count }}회)</li>
            {% endfor %}
        </ol>
    </div>
</div>

<style>
    .rank_column {
        min-width: 300px;
        margin: 30px;
        /*background-color: whitesmoke;*/
        border-color: whitesmoke;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        padding: 20px;
    }
    /*
    ol {
        margin-top: 10px;
    }*/
    li {
        margin-top: 10px;
    }
</style>
    
{% endblock content %}        