{% extends '../base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="box">
  {% if validlink %}

  <h1>새 비밀번호를 입력하세요.</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="비밀번호 변경">
  </form>

  {% else %}
<!--
  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
-->
  <p>비밀번호 변경 링크가 올바르지 않습니다. 다시 시도해 주세요.</p>
  {% endif %}
</div>

<style>
  .box {
    margin: auto;
    margin-top: 100px;
    background-color: #FAFAFA;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
  }
</style>

{% endblock %}
